<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Login/Registration</title>
	{% load static %}
	<link rel="stylesheet" href="{% static 'friends/style.css' %}" media="screen" title="no title" charset="utf-8">
</head>
<body>
	<div class="wrapper">
		<h2>Welcome!</h2>
		<div class="left">
			<div class="register">
				<h3>Register</h3>
				<form action="register" method="POST" class="form">
					{% csrf_token %}
					<p>Name: <input type='text' name='name'></p>
					<p>Alias: <input type='text' name='alias'></p>
					<p>Email: <input type='text' name='email'></p>
					<p>Password: <input type='password' name='password'></p>
					<p>Confirm password: <input type='password' name='confirm_password'></p>
					<p>Date of Birth: <input type='date' name="dob"></p>
					<input type='submit' value='Register' class='button'>
				</form>
			</div>
		</div>
		<div class="right">
			<div class="login">
				<h3>Login</h3>
				<form action="login" method="POST" class="form">
					{% csrf_token %}
					<p>Email: <input type='text' name='email'></p>
					<p>Password: <input type='password' name='password'></p>
					<input type='submit' value='Login' class='button'>
				</form>
			</div>
				{% if messages %}
					{% for message in messages %}
						<p class="flash">{{ message }}</p>
					{% endfor %}
				{% endif %}
		</div>
	</div>
</body>
</html>